# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Mac .DS_Store files

.DS_Store
.vscode

# Not adding rule to exclude text files on gitignore as the instructor may 
# want to see the output file which will also be available on the git repo

# *.txt 

main